.product {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .thumbnail {
        object-fit: cover;
        height: 50vh;
    }
    .product-info {
        position: relative;
        background-color: rgba(0, 0, 0, 0.84);
        color: white;
        top: -30%;
        height: 30%;
        z-index: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        div {
            @include toCenter;
        }
        .product-title {
            font-size: 25px;
            grid-column: span 2;
        }
        .infoButton,
        .add-to-cart {
            width: 70%;
            grid-column: span 2;
            background-color: white;
            color: black;
            border-radius: 5px;
            font-size: 25px;
            margin: 0 auto;
        }
    }
}
