.filters {
    display: flex;
    width: 19%;
    flex-direction: column;
    gap: 30px;
    .check-filter {
        height: 30vh;
        overflow-x: hidden;
        overflow-y: scroll;
        font-size: 25px;
    }
}
