.product-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-thumb {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.no-product {
    font-size: 30px;
    @include centered;
    @include inputBox;
    padding: 10px;
    height: 40px;
    margin: 20px auto;
}
