.range-container {
    display: flex;
    flex-direction: column;
    input::-webkit-slider-thumb {
        -webkit-appearance: none;
        pointer-events: all;
        width: 24px;
        height: 24px;
        position: relative;
        z-index: 3;
        background-color: rgb(87, 85, 85);
        border-radius: 50%;
        box-shadow: 0 0 0 1px #c6c6c6;
        cursor: pointer;
    }
    input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        height: 4px;
        background-color: #c6c6c6;
        pointer-events: none;
        width: 80%;
    }
    .low-range {
        position: relative;
        top: 8px;
    }
}
