@mixin toCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin inputBox {
    border: 1.5px solid $grey;
    border-radius: 7px;
    box-shadow: 3px 3px 3px $grey;
}
